.cuerpo
{
    background-color: antiquewhite;
}
.fila
{
    border:10px solid black;
}
.columna
{
    border: 5px solid red;
}
.columna .a
{
    height: 450px;
}
.columna .b
{
    height: 130px;
}
.columna .c
{
    height: 280px;
}
.columna .d
{
    height: 130px;
}